 .square {
            height: 9vh;
            width: 9vh;
            background-color: rgba(171, 196, 199, 0.459);
            margin: 3px;
            font-size: 7.5vh;
            overflow: hidden;
            border-radius: 4px;
            border: 1.33px solid black;
            text-align: center;
            
        }

        #wordCont {
        
            display: flex;
            justify-content: center;

        }

        dialog {
            background-color: light-grey;
            border: 1px solid black;
            box-shadow: 2px 2px 4px black;
            
        }

        body {
            background-color: rgb(0, 153, 255);
            font-family: open sans;
            text-align: center;
        }

        .cor {
            background-color: green;
            color: white;
        }

        .inc {
            background-color: rgb(181, 2, 2);
            color: white;
        }

        .sub {
            height: 5vh;
            width: 20vw;
            font-size: 1.2em;
            background-color: white;
        }

        button {
            font-size: 1.2em;
        }

        h4, h2, h1 {
            margin: 3px;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.237)
        }

        
